body
{
  background-color: aqua;
  background-size: cover;
}
.heading {
    width: 100%;
    text-align: center;
}
.heading h3 {
    display: inline;
}
.heading button {
  float: right;
  border: 1px solid white;
}
#start, #status {
  font-size: 30px;
  width: 200px;
  color:aquamarine;
}
